@import "./youtube-caption";

:root {
  --background-primary: #fff;
  --background-grey: #b3b3b3;

  --text-primary: #000;
  --text-bottom: #fff;

  --primary-color: #f03;

  --button-background: rgba(0, 0, 0, 0.5);
  --button-background-hover: rgba(0, 0, 0, 0.6);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden !important;
  background: var(--background-primary);
  color: var(--text-primary);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root-pip-controller {
  width: 100vw;
  height: 100vh;
}

video {
  width: 100% !important;
  height: auto !important;
}
